{% extends 'base2.html.twig' %}

{% block title %}Generación de número aleatorio{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <p>El número máximo permitido es {{ n }}</p>
{% endblock %}

